.gitignore
.idea

# secrets
password.txt
email_password.txt

# scripts
bae_docker.sh
docker-command-bae.sh

# folders
__pycache__
.DS_Store
test_orca
checkpoint-17315-epoch-5

# data files
config.json
example_dataset.csv
*.csv
glove.twitter.27B.*
numberbatch-en-17.04b.*


# data folders
*/smile_data
*/smile_user
*/data

#########################
# helm related
#########################
# ignore secrets
gitrepo.yaml
variables.txt
*.secret.yaml

# ignore terraform files
terraform/.terraform
terraform/*.auto.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# ignore downloaded chart fiels
helm/smile/charts/*
*charts/*
# values for deployment
helm/smile/values-clowder.yaml
helm/smile/values-smile.yaml

# idea folder
*.idea/

# secrets
*.secret.yaml
helm/smile/smile.secret.yaml

